html,body,div,ul,li,svg{
	margin:0;
	padding:0;
	list-style:none;
}

/*------------Global-------------*/
html,body{
	height: 100%;
	position: relative;
	background: rgb(242,244,233);
}

.container{
    height:100%;
}
.container .section{
	width:100%;
}
.canvas{
	width:100%;
	background:white;
	height:100%;
}
.container .canvas2{
    width:100%;
    background:white;
    height:200px;
}
.container .controls{
	margin-bottom:20px;
}

/*------------font-------------*/
body{
	font-size: 10px;
}
h1{ font-size:2em;}
h2{ font-size:1.3em;}
p{
	font-family:"Droid Serif", serif;
}

/*------------svg--------------*/
.axis .domain{
    fill:none
}
.axis .tick line{
    fill:none;
    stroke:rgb(200,200,200);
    stroke-width:1px;
}
.axis .tick text{
    fill:rgb(80,80,80)
}

.data-point{
    fill:white;
    stroke-width:2px;
}
    .coffee-data-point{ stroke:red; }
    .tea-data-point{ stroke:rgb(0,200,255); }
.data-line{
    fill:none;
    stroke-width:2px;
}
    .coffee-data-line{ stroke:red; }
    .tea-data-line{ stroke:rgb(0,200,255); }
.data-area{
    fill-opacity:.05;
}
    .coffee-data-area{ fill:red; }
    .tea-data-area{ fill:rgb(0,200,255); }

    .brush .extent {
         stroke: #fff;
         fill-opacity: .125;
         shape-rendering: crispEdges;
     }
/*-----------tooltip-----------*/
.canvas .custom-tooltip, .canvas .custom-tooltip2 {
    position:absolute;
    border:1px solid #fff;
    width:150px;
    min-height:10px;
    padding:10px 12px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 -3px 7px rgba(0, 0, 0, 0.1);
    font-family: "MaisonNeue",sans-serif;
    font-size:12px;
    fill: #666666 !important;
    opacity: 0;
}
.dataDescription {
    font-weight: normal
}.dataValue {
    font-weight: bold
}